/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.main{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(245, 245, 245);
}
.card{
  background-color: #fbfafa;
  padding: 30px;
  margin: 20px;
  border: 0.2px  gray;
  border-radius: 5px;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imagecontainer{
  display: flex;
  
}
.imagecontainer,img{
  margin:   0px 20px  10px 0px;
}
.userName{
  font-weight: 600;
  font-size: x-large;
}
.artical{
  color: rgba(77, 77, 77, 0.817);
}