/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: rgba(239, 235, 235, 0.874);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.container{
  display: grid;
  place-items: center;
  height: 100vh;
}
.img{
  border-radius: 5px 5px 0 0;
}
.main-container{
  width: 350px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px gray;
}
.sub-container{
  padding: 20px;
}
   
